* {
	box-sizing: border-box !important;
	font-family: 'Times New Roman', Times, serif;
}

@media (min-width: 992px) {
	.col-lg-4, .special {
		float:left;
		border: 1px solid black ;
	}

	.col-lg-4 {
		margin: 1%; 
		width: 30%;

	}
	.special {
		margin: 1%; 
		width: 30%;

	}
}

@media (min-width: 768px) and (max-width: 991px ) {
	.col-md-6, .special {
		float:left;
		border: 1px solid black;
	}

	.col-md-6 { 
		width: 44%;
		margin: 3%;
	}

	.special {
		width: 94%;
	}
}

@media (max-width: 767px) {
	.col-sd-12, special {
		float:left;
		border: 1px solid black;
	}

	.col-sd-12 { 
		width: 90%;
		margin: 5%;
	}
	
}

p {
	padding: 3px;
	font-family: 'Times New Roman', Times, serif;
	font-size: 16px;
	color: black;
	text-align: center;
}

h1{
	text-align: center;
}

p.box {
	left: 80%;
	top: 0px;
	margin: 5px;
	text-align: center;
	border: 3px solid black;
	width: 20%;
	border-top: 1px;
	border-right: 1px;
	float:right ;
	background-color: aqua;
	font-weight: bold;
	padding: 3px;

	
	
}

p.relative {
	position: relative;
	top: 0px;
	margin: 0px;
	text-align: center;
	border: 1px solid black;
	width: 20%;
	border-top: 1px;
	border-right: 1px;
	float:right ;
	background-color: aqua;
	font-weight: bold;
	padding: 3px;
}



#chicken p.relative {
	background-color: pink;
	color: black;
}

#beef p.relative {
	background-color: brown;
	color: white;
}

#sushi p.relative {
	background-color: gold;
	color: black;
}

div div {
	background-color: gray;
}